# Blacklist everything
/*

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!.gitmodules

!README.md

!src/
!doc/
!script/

#Digilent Added ignore rules for Vivado projects

work/**

# Do not ignore block diagram files
!src/bd/**/.bd
!src/bd/**/*_wrapper.v

!**/run.sh


# keep the empty folders
!**/.gitkeep

./*.log
./*.jou